:root{
    --light-green: hsl(148, 38%, 91%);
    --medium-green: hsl(169, 82%, 27%);
    --red: hsl(0,66%,54%);
    --white: hsl(0, 0%, 100%);
    --medium-grey: hsl(186, 15%, 59%);
    --dark-grey: hsl(187, 24%, 22%);
}

@font-face {
    font-family: karla;
    src: url(assets/fonts/Karla-VariableFont_wght.ttf);
}

@font-face {
    font-family: karla-italic;
    src: url(assets/fonts/Karla-Italic-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "karla", sans-serif;
    background-color: var(--light-green);
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: auto;
}

.notification{
    background-color: var(--dark-grey);
    color: var(--white);
    font-size: 1rem;
    /* width: 20rem */
    width: 20rem;
    height: 7rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: absolute;
    top: 1%;
    left: 0;
    right: 0;
    margin-inline: auto;
}

.hide{
    display: none;
}

.imageMessage{
    display: flex;
    flex-direction: row;
    margin: 1.7rem 0 1.3rem 2rem;
    font-weight: 700;
}

.imageMessage img{
    margin-right: .75rem;
}

.message p{
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    font-size: .85rem;
}

.wrapper{
    background-color: var(--white);
    width: 22rem;
    border-radius: 0.625rem;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1{
    align-self: start;
    padding: 1rem;
}

.inputLabel{
    font-weight: 400;
    font-size: 1rem;
    margin-block: 1rem;
}

.required{
    font-size: .95rem;
    margin-left: .2rem;
    color: var(--medium-green);
}

.inputField{
    padding-left: .5rem;
    margin-left: .5rem;
}

input[type=text],
input[type=email]{
    width: 19.5rem;
    height: 3.125rem;
    border-radius: 0.625rem;
    border-width: .1rem;
    border-style: solid;
    padding: .5rem;
    /* margin-top: .75rem; */
}

.options{
    border: var(--dark-grey) solid 0.063rem;
    height: 3.125rem;
    display: flex;
    align-items: center;
    border-radius: 0.625rem;
    margin-block: 0.938rem;
    padding-left: 1.25rem;
    width: 19.5rem;
}

.options label{
    padding-left: 0.938rem;
}

.options:hover{
    cursor: pointer;
}

.invalid{
    border-color: var(--red);
}

.invalid:hover,
.invalid:focus{
    border-color: var(--medium-green);
    transition: border .3s;
}

.warning{
    display: none;
    color: var(--red);
    font-weight: 400;
}

#messageWarning{
    margin-left: 1rem;
}

input[type=checkbox]{
    margin-block: 1.25rem;
    margin-left: .5rem;
}

#question{
    width: 19.5rem;
    height: 12.5rem;
    border-radius: 0.625rem;
    border-width: .1rem;
    margin-left: 1rem;
    text-align: left;
    padding: .75rem;
    font-size: 1rem;
    resize: none;
}

input[type=submit]{
    width: 19.5rem;
    height: 3.125rem;
    border-radius: 0.625rem;
    background-color: var(--medium-green);
    font-size: 1rem;
    color: white;
    font-family: karla;
    font-weight: 400;
    cursor: pointer;
    border: none;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

input[type=submit]:hover{
    background-color: #0f4945;
}

input[type=text]:hover,
input[type=email]:hover,
#question:hover,
input[type=text]:focus,
#question:focus,
input[type=email]:focus{
    border-color: var(--medium-green);
    border-width: .15rem;
    outline: none;
}

.consent{
    margin: 1rem
}

.consent label:hover,
input[type=checkbox]:hover{
    cursor: pointer;
}

.attribution{
    font-size: .688rem;
    text-align: center;
}

.attribution a{
    color: hsl(228,48%,44%);
}

@media (min-width: 500px){
    .wrapper{
        width: 45.938rem;
        height: auto;
    }

    .queryBlock{
        display: flex;
        flex-direction: row;
    } 

    input[type=email]{
        width: 40rem;
    }

    .options{
        margin: auto;
    }

    #question{
        height: 5.375rem;
        width: 40rem;
    }

    input[type=submit]{
        width: 40rem;
    }

    .inputField{
        display: flex;
        flex-direction: column;
    }

    .messageLabel{
        flex-direction: row;
        margin-block: 1rem
    }
}
