:root{
    --light-green: hsl(148, 38%, 91%);
    --medium-green: hsl(169, 82%, 27%);
    --red: hsl(0,66%,54%);
    --white: hsl(0, 0%, 100%);
    --medium-grey: hsl(186, 15%, 59%);
    --dark-grey: hsl(187, 24%, 22%);
}

@font-face {
    font-family: karla;
    src: url(assets/fonts/Karla-VariableFont_wght.ttf);
}

@font-face {
    font-family: karla-italic;
    src: url(assets/fonts/Karla-Italic-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: karla;
    background-color: var(--light-green);
    display: flex;
    height: 100vh;
    flex-direction: column;
    /* justify-content: center; */
    margin: auto;
}

.notification {
    display:none;
}

.wrapper{
    background-color: var(--white);
    width: 22rem;
    border-radius: 0.625rem;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1{
    align-self: start;
    padding: 1rem;
    margin-block: .75rem;
}

.inputLabel{
    font-weight: 400;
    font-size: 1rem;
    margin-top: 1.25rem;
}

.required{
    font-size: .95rem;
    margin-left: .5rem;
    color: var(--medium-green);
}

.inputField{
    padding-left: .5rem;
    margin-left: .5rem;
}

input[type=text],
input[type=email]{
    width: 19.5rem;
    height: 3.125rem;
    border-radius: 0.625rem;
    /* margin-bottom: 1.25rem; */
    margin-top: .75rem;
}

.options{
    border: black solid 0.063rem;
    height: 3.125rem;
    display: flex;
    align-items: center;
    border-radius: 0.625rem;
    margin-block: 0.938rem;
    padding-left: 1.25rem;
    width: 19.5rem;
}

.options label{
    padding-left: 0.938rem;
}

.warning{
    display: none;
    color: var(--red);
    font-weight: 400;
}

#messageWarning{
    margin-left: 1rem;
}

input[type=checkbox]{
    margin-block: 1.25rem;
    margin-left: .5rem;
}

textarea{
    width: 19.5rem;
    height: 12.5rem;
    border-radius: 0.625rem;
    margin-top: .5rem;
    margin-left: 1rem;
}

input[type=submit]{
    width: 19.5rem;
    height: 3.125rem;
    border-radius: 0.625rem;
    background-color: var(--medium-green);
    font-size: 1rem;
    color: white;
    font-family: karla;
    font-weight: 400;
    cursor: pointer;
    border: none;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.consent{
    margin: 1rem
}

.attribution{
    font-size: .688rem;
    text-align: center;
}

.attribution a{
    color: hsl(228,48%,44%);
}

@media (min-width: 500px){
    .wrapper{
        width: 45.938rem;
        height: auto;
    }

    .queryBlock{
        display: flex;
        flex-direction: row;
    } 

    input[type=email]{
        width: 40rem;
    }

    .options{
        margin: auto;
        margin-block: 1rem;
    }

    textarea{
        height: 6.438rem;
        width: 40rem;
    }

    input[type=submit]{
        width: 40rem;
    }

    .inputField{
        display: flex;
        flex-direction: column;
    }

    .messageLabel{
        flex-direction: row;
    }
}